#footer{
    height: 4em;
    background-color: @menu-background-color;
   .col-md-12{
       h3{
        color:white;
        font-family:Sitka Subheading;
        text-align: right;
        font-size: 1em;
        margin-top:1.9em;
       }
    }
}



    
    
    