#row1-3{

 .sidbar-first{
                    ul{  
                        
                            margin-top:1.6em;
                            list-style-type: none;
                            text-align: right;

                            a{
                               font-family:@font2;
                               text-align: center;
                               border: 0em;
                               display: block;
                               background-color:#efefef;
                               color:black;
                               padding:0.8em;
                               margin-top: 0.3em;
                               text-decoration: none;
                               
                            }
                    
                            a:hover{
                                color:white;
                                background-color:@color1;
                                
                            }  
                        
                          
                        
                        
                    }
              }

.article{
    .page-header{
        font-family: @font2;
    }
    .region{        font-family: @font1;


    }
}
             
}