#row5{
        background-color: @news-color;
        .ads{
            text-align: center;

            p{
                text-align: right;
            }
          .date{
                font-size: 15px;
                font-family: Droid Arabic Kufi;
            }
           .content-ads{
                font-size: 15px;
                font-family: Droid Arabic Kufi;
                a{
                   color:black;
                }
            }
            hr{
                border-top: 1px solid @menu-background-color;
            }
           
        }
       
     
        .news{

            text-align: center;
        }
        .ph1{
            width: 100%;
            height: 200px;
           padding: 0px;
        }
        .ph1-content{font-size:18px;
            text-align: center;
            background-color: @menu-background-color;
            margin-top: 5px;
            height:80px;
            a{ color:white;


            }

        }
        .ph2{
            width: 100%;
            height: 200px;
            padding: 0px;
        }
        .ph2-content{font-size:18px;
            text-align: center;
            background-color: @menu-background-color;
            margin-top: 5px;
            height:80px;
            a{ color:white;


            }

        }
        .col-md-3{
            width: 50%;
        }
      

        

}